<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.ext.ExtSeckillMapper">
    <update id="reduceNumber">
        UPDATE
        seckill
        SET
        number = number -1
        WHERE seckill_id = #{seckillId,jdbcType=BIGINT}
        AND start_time <![CDATA[ <= ]]> #{killTime,jdbcType=TIMESTAMP}
        AND end_time <![CDATA[ >= ]]> #{killTime,jdbcType=TIMESTAMP}
        AND number <![CDATA[ > ]]> 0
    </update>
    <select id="reduceNumberByProcedure" statementType="CALLABLE">
        CALL execute_seckill(
                #{seckillId,jdbcType=BIGINT,mode=IN},
                #{phone,jdbcType=BIGINT,mode=IN},
                #{killTime,jdbcType=TIMESTAMP,mode=IN},
                #{result,jdbcType=INTEGER,mode=OUT}
        )
    </select>
</mapper>