version: "3"

services:
  activemq:
    image: webcenter/activemq
    container_name: activemq
    restart: always
    ports:
      - 61616:61616
      - 8161:8161
    networks:
      - somenetwork

  zookeeper:
    image: zookeeper:latest
    container_name: zookeeper
    restart: always
    depends_on:
      - elasticsearch
    ports:
      - 2181:2181
      - 12181:12181
    networks:
      - somenetwork

  redis:
    image: redis
    container_name: redis
    restart: always
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "6379:6379"
    networks:
      - somenetwork

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: elasticsearch
    environment:
      - node.name=es01
      - discovery.seed_hosts=elasticsearch1
      - cluster.initial_master_nodes=es01
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - somenetwork


##放开注释即为es双节点模式
#  elasticsearch1:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
#    container_name: elasticsearch1
#    environment:
#      - node.name=es02
#      - discovery.seed_hosts=elasticsearch
#      - cluster.initial_master_nodes=es01
#      - cluster.name=docker-cluster
#      - bootstrap.memory_lock=true
#      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#    ports:
#      - 9201:9200
#      - 9301:9300
#    depends_on:
#      - elasticsearch
#    networks:
#      - somenetwork

  kibana:
    image: kibana:7.7.0
    container_name: kibana
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    environment:
      - elasticsearch.hosts=http://elasticsearch:9200
      - i18n.locale=zh-CN
    networks:
      - somenetwork

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    command:
      --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: "Password123"
      MYSQL_DATABASE: "seckill"
      MYSQL_USER: "seckill"
      MYSQL_PASSWORD: "Password123"
    networks:
      - somenetwork

  mongo:
    image: mongo:4.2.6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - somenetwork
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: root

  goodses:
    build: ./goodsKill-es-provider
    container_name: goodses
    depends_on:
      - elasticsearch
      - zookeeper
      - elasticsearch1
    networks:
      - somenetwork

  goodsmongo:
    build: ./goodsKill-mongo-provider
    container_name: goodsmongo
    depends_on:
      - zookeeper
      - activemq
      - mongo
    networks:
      - somenetwork

  goodsservice:
    build: ./goodsKill-spring-boot-provider
    container_name: goodsservice
    depends_on:
      - elasticsearch
      - zookeeper
      - goodsmongo
      - goodses
      - activemq
      - redis
    networks:
      - somenetwork

  goodsweb:
    build: ./goodsKill-spring-boot-web-consumer
    container_name: goodsweb
    depends_on:
      - goodsservice
      - zookeeper
      - activemq
      - redis
    ports:
      - 8080:8080
    networks:
      - somenetwork

networks:
  somenetwork:
    driver: bridge