server:
  port: 8080

logging:
  level:
    root: debug
#    org.springframework.web: INFO
#    org.springframework.security: INFO
#    org.springframework.boot.autoconfigure: DEBUG

spring:
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          goodskill:
            client-id: first-client
            client-secret: noonewilleverguess
