server:
  port: 80
spring:
  application:
    name: goodskill-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#      - id: mongotest
#        uri: lb://mongo-service-provider
#        predicates:
#        - Query=red
#        filters:
#        - JwtAuth
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
  security:
    enabled: false
---
spring:
  profiles: dev
---
spring:
  profiles: docker
  zipkin:
    base-url: https://zipkin:9411/
  cloud:
    nacos:
      server-addr: nacos:8848

