server:
  port: 80
spring:
  profiles:
    active: docker
  application:
    name: goodskill-gateway
  cloud:
    sentinel:
      transport:
        port: 8719
        ## 默认端口8080，已改为自定义18088端口，通过http://127.0.0.1:18088/#/dashboard访问
        dashboard: localhost:18088
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowCredentials: true
            allowedOriginPatterns: "*"
            allowedHeaders: "*"
            allowedMethods: "*"
      httpclient:
        ssl:
          useInsecureTrustManager: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#      - id: mongotest
#        uri: lb://mongo-service-provider
#        predicates:
#        - Query=red
#        filters:
#        - JwtAuth
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
---
spring:
  config:
    activate:
      on-profile: docker
  zipkin:
    base-url: http://zipkin:9411/
  cloud:
    nacos:
      server-addr: nacos:8848


