spring:
  profiles:
    active: dev
  activemq:
    in-memory: true
    pool:
      enabled: false

#二维码图片存放目录
QRCODE_IMAGE_DIR: D:/t/QRfile
---

######################本地开发环境配置#####################
spring:
  profiles: dev
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: myGroup
  application:
    name: dubbo-provider-demo
  main:
    allow-bean-definition-overriding: true
  output:
    ansi:
      enabled: ALWAYS
  data:
    mongodb:
      database: test
dubbo:
  scan:
    base-packages: org.seckill.service.impl
  application:
    id: dubbo-provider-demo
    name: dubbo-provider-demo
  protocol:
    id: dubbo
    name: dubbo
    port: -1
    status: server
  registry:
    id: my-registry
    address: zookeeper://127.0.0.1:2181
  provider:
    timeout: 30000

cache_address: localhost
cache_ip_address: redis://127.0.0.1:6379
master:
  driver: com.mysql.cj.jdbc.Driver
  password: wf1GGDEdzE1eaaMEUev4Cw
  url: jdbc:mysql://127.0.0.1:3306/seckill?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
  username: root
mq_address: failover:(tcp://localhost:61616)?initialReconnectDelay=100
slave:
  driver: com.mysql.cj.jdbc.Driver
  password: wf1GGDEdzE1eaaMEUev4Cw
  url: jdbc:mysql://127.0.0.1:3306/seckill?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
  username: root
server:
  port: 9090
demo:
  service:
    version: 1.0.0
