server:
  port: 0
spring:
  profiles:
    active: dev
  application:
    name: mongo-service-provider
  cloud:
    sentinel:
      transport:
        port: 8719
        ## 默认端口8080，已改为自定义18088端口，通过http://127.0.0.1:18088/#/dashboard访问
        dashboard: localhost:18088
      ##使用nacos配置中心存储限流规则
      datasource:
        ds0:
          nacos:
            data-id: ${spring.application.name}-flow-rules
            data-type: json
            group-id: DEFAULT_GROUP
            rule-type: flow
            server-addr: 127.0.0.1:8848
dubbo:
  protocol:
    name: dubbo
    port: -1
    id: dubbo
  scan:
    base-packages: com.goodskill.mongo.service
  cloud:
    subscribed-services: ""
  provider:
    timeout: 30000
logging:
  level:
    org:
      springframework:
        data:
          mongodb: debug

---
spring:
  data:
    mongodb:
      database: test
  cloud:
    nacos:
      server-addr: localhost:8848
  config:
    activate:
      on-profile: dev
dubbo:
  registry:
    address: spring-cloud://localhost
---
spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  data:
    mongodb:
      database: test
      uri: mongodb://mongo
  cloud:
    nacos:
      server-addr: nacos:8848
    sentinel:
      datasource:
        ds0:
          nacos:
            server-addr: nacos:8848
  config:
    activate:
      on-profile: docker
dubbo:
  registry:
    address: spring-cloud://localhost
