spring:
  profiles:
    active: dev
  session:
    redis:
      flush-mode: on_save
      namespace: spring:session
    store-type: redis
    timeout: 1800
  main:
    allow-bean-definition-overriding: true
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    # 请求前台到后台的格式转换
    format:
      date: dd/MM/yyyy
      date-time: yyyy-MM-dd HH:mm:ss
      time: HH:mm:ss
  output:
    ansi:
      enabled: always
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    sentinel:
      transport:
        port: 8719
        ## 默认端口8080，已改为自定义18088端口，通过http://127.0.0.1:18088/#/dashboard访问
        dashboard: localhost:18088
      ##使用nacos配置中心存储限流规则
      datasource:
        ds0:
          nacos:
            data-id: ${spring.application.name}-flow-rules
            data-type: json
            group-id: DEFAULT_GROUP
            rule-type: flow
            server-addr: 127.0.0.1:8848
application:
  message: Hello

dubbo:
  application:
    id: dubbo-consumer-demo
    name: dubbo-consumer-demo
  protocol:
    id: dubbo
    name: dubbo
    port: -1
  consumer:
    timeout: 30000
  ## 此处有坑，如配置了具体的service名，对应的注入此service上的注解@Reference(check=false)会失效
  cloud:
    subscribed-services: "*"

management:
  endpoints:
    web:
      exposure:
        include: '*'

server:
  port: 8080
  servlet:
    context-path: /goodskill

---
spring:
  profiles: dev
  redis:
    host: localhost
    port: 6379
  rabbitmq:
    host: localhost
  kafka:
    bootstrap-servers: localhost:9092
  cloud:
    nacos:
      server-addr: localhost:8848
dubbo:
  registry:
    address: spring-cloud://localhost


---
spring:
  profiles: docker
  redis:
    host: redis
    port: 6379
  cloud:
    nacos:
      server-addr: nacos:8848
    sentinel:
      datasource:
        ds0:
          nacos:
            server-addr: nacos:8848
  kafka:
    bootstrap-servers: kafka:9092
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
dubbo:
  registry:
    address: spring-cloud://localhost

---
spring:
  profiles: test
  redis:
    host: 192.168.2.22
    port: 6379
  rabbitmq:
    host: 192.168.2.22
  kafka:
    bootstrap-servers: 192.168.2.22:9092
  cloud:
    nacos:
      server-addr: 192.168.2.22:8848
    sentinel:
      transport:
        port: 8719
        ## 默认端口8080，已改为自定义18088端口，通过http://127.0.0.1:18088/#/dashboard访问
        dashboard: localhost:18088
      ##使用nacos配置中心存储限流规则
      datasource:
        ds0:
          nacos:
            server-addr: 192.168.2.22:8848

dubbo:
  registry:
    address: spring-cloud://192.168.2.22



