<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd "
       default-lazy-init="false">

    <dubbo:application name="goodsKill-provider"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181" check="false" subscribe="false" register=""/>

    <!-- 接口服务 -->
    <dubbo:service ref="goodsServiceImpl" interface="org.seckill.service.GoodsService" />

</beans>